/*html, body {
	height: 100%
}*/

#landing {
    height: 100vh;
    padding: 8%;
    background-size: cover !important;
    background-position: center top; 
    background-image: url(../images/KarlsAndEimearExports/KarlAndEimear-3.jpg);
    margin-bottom: 0px;
}
