

h1 {
	font-family: 'Tangerine', cursive;
	margin-bottom: 20px;
	margin-top: 30px;
}

h2,h3 {
	font-family: 'Tangerine', cursive;
	margin-bottom: 20px;
	margin-top: 30px;
}

label {
	font-family: 'Tangerine', cursive;
	}

h1 {
	margin-bottom: 20px;
	font-size: 45px;
}

h2 {
	font-size: 32px;
}

label {
	    font-size: 1.5em;
}

